@import "tailwindcss";

html,
body {
  overflow-x: hidden;
  max-width: 100%;
  width: 100%;
}

@keyframes scanline {
  0% {
    top: 5%;
    opacity: 0.7;
  }
  50% {
    top: 90%;
    opacity: 1;
  }
  100% {
    top: 5%;
    opacity: 0.7;
  }
}

.animate-scanline {
  animation: scanline 2.2s ease-in-out infinite;
}
